name: Test Apt caching
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

  # Allow check to run on the merge queue so that it is eligible to be a "required" check.
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  apt:
    runs-on: namespace-profile-e2e-small
    steps:
      - uses: actions/checkout@v6

      - name: Setup Apt cache
        uses: ./ # Uses an action in the root directory
        with:
          cache: apt

      - run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          lcov -h
