name: Test Bun caching
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

  # Allow check to run on the merge queue so that it is eligible to be a "required" check.
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  bun:
    runs-on: namespace-profile-e2e-small
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Bun cache
        uses: ./ # Uses an action in the root directory
        with:
          cache: bun

      - run: |
          bun install
