name: Container

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [checks_requested]
  schedule:
    - cron: '10 */6 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  in-container:
    runs-on:
      - namespace-profile-e2e-small

    container:
      image: node:21
      env:
        NSC_CACHE_PATH: ${{ env.NSC_CACHE_PATH }}
      volumes:
        - /cache:/cache
      options: --cap-add=SYS_ADMIN

    steps:
      - uses: actions/checkout@v6

      - name: Install sudo
        run: |
          apt-get update -y && apt-get install -y sudo

      - name: Set up NPM cache
        uses: ./ # Uses an action in the root directory
        with:
          path: .npm

      - name: Run npm install
        run: npm install
