name: Test Maven caching
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '15 */6 * * *'
  workflow_dispatch:

  # Allow check to run on the merge queue so that it is eligible to be a "required" check.
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  maven:
    runs-on:
      - namespace-profile-e2e-small
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Setup Maven cache
        uses: ./ # Uses an action in the root directory
        with:
          cache: maven

      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/selenium-cache
          path: demo

      - uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: latest

      - run: chrome --version

      - name: Build with Maven
        run: mvn -B clean test
        working-directory: ./demo

      - name: Print cache metadata file
        run: |
          ls -al /cache/.ns
          cat /cache/.ns/cache-metadata.json
