name: Modes

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [checks_requested]
  schedule:
    - cron: '10 */6 * * *'

jobs:
  modes:
    uses: ./.github/workflows/modes-reusable.yaml
