name: Mode validation

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [checks_requested]

jobs:
  apt:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: apt
      - run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          lcov -h

  brew:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [namespace-profile-macos, namespace-profile-e2e-small]
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: brew
      - run: |
          brew --version
          brew install hello
          which hello
      - if: runner.os == 'macOS'
        # Not available on Linux.
        run: brew tap vectordotdev/brew && brew install vector

  bun:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: bun
      - run: |
          bun install

  deno:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          cache: false
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: deno
      - run: |
          deno install

  go:
    runs-on: namespace-profile-e2e-medium
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: false
      - name: Check existing directories
        run: |
          ls -al /home/runner/go
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: go
      - name: Run go build
        run: |
          go install namespacelabs.dev/foundation/cmd/ns@aabde5de6327f5e37673fd6d04474890429494ef

  golangci-lint:
    runs-on: namespace-profile-e2e-medium
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/go-cache
          path: demo
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: false
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          install-only: true
          skip-cache: true
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: |
            go
            golangci-lint
      - name: Run golangci-lint
        run: cd ./demo && golangci-lint run

  python:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/python-cache
          path: demo
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: python
      - run: pip install -r ./requirements.txt
        working-directory: ./demo

  rust:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/rust-cache
          path: demo
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: rust
      - run: cargo build --locked --release --no-default-features --all
        working-directory: ./demo
      - run: cargo test --locked --release --all
        working-directory: ./demo

  rust-pre-existing-file:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/rust-cache
          path: demo
      - name: Create .global-cache file that should be removed before creating mount
        run: touch ~/.cargo/.global-cache
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: rust
      - run: cargo build --locked --release --no-default-features --all
        working-directory: ./demo
      - run: cargo test --locked --release --all
        working-directory: ./demo

  yarn:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/cache-yarn-workspaces
          path: demo
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: yarn
      - run: yarn
        working-directory: ./demo
      - run: yarn workspace @project/web-app build
        working-directory: ./demo
