name: Mode validation

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [checks_requested]

jobs:
  apt:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: apt
      - run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          lcov -h

  brew:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [namespace-profile-macos, namespace-profile-e2e-small]
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: brew
      - run: |
          brew --version
          brew install hello
          which hello
      - if: runner.os == 'macOS'
        # Not available on Linux.
        run: brew tap vectordotdev/brew && brew install vector

  bun:
    runs-on: namespace-profile-e2e-small
    strategy:
      matrix:
        space-enabled: [false, true]
        space-version: ['', 'dev', 'latest']
    steps:
      - uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Setup cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: bun
      - run: |
          bun install
