name: Mode validation

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  merge_group:
    types: [checks_requested]

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Build matrix
        id: matrix
        run: |
          echo '{
            "space-enabled": ["false", "true"],
            "space-version": ["", "dev", "latest"]
          }' >> "$GITHUB_OUTPUT"

  apt:
    runs-on: namespace-profile-e2e-small
    needs:
      - define-matrix
    strategy:
      matrix: ${{ fromJson(needs.define-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Apt cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: apt
      - run: |
          sudo apt-get update
          sudo apt-get install -y lcov
          lcov -h

  brew:
    strategy:
      fail-fast: false
      matrix:
        os: [namespace-profile-macos, namespace-profile-e2e-small]
        space-enabled: [false, true] # temp. while we migrate
        space-version: ['', 'dev', 'latest']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup Homebrew cache
        uses: ./
        with:
          space-enabled: ${{ matrix.space-enabled }}
          space-version: ${{ matrix.space-version }}
          mode: brew
      - run: |
          brew --version
          brew install hello
          which hello
      - if: runner.os == 'macOS'
        # Not available on Linux.
        run: brew tap vectordotdev/brew && brew install vector
