name: Test Yarn caching
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '35 */6 * * *'
  workflow_dispatch:

  # Allow check to run on the merge queue so that it is eligible to be a "required" check.
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  yarn:
    runs-on:
      - namespace-profile-e2e-small
    steps:
      - uses: actions/checkout@v6

      - name: Setup Yarn cache
        uses: ./ # Uses an action in the root directory
        with:
          cache: yarn

      - uses: actions/checkout@v6
        with:
          repository: namespace-integration-demos/cache-yarn-workspaces
          path: demo

      - run: yarn
        working-directory: ./demo

      - run: yarn workspace @project/web-app build
        working-directory: ./demo

      - name: Print cache metadata file
        run: |
          ls -al /cache/.ns
          cat /cache/.ns/cache-metadata.json
